VITE_AG_GRID_LICENSE_KEY = 
LicensedApplication=
LicenseType=
LicensedConcurrentDeveloperCount=
LicensedProductionInstancesCount=
AssetReference=
ExpiryDate=
VITE_API_BASE_URL=https://iksen.com/offer-sourcebynet-backend-v2/public/api